@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
}

/* header */

header {
    position: fixed;
    width: 100%;
    display: grid;
    justify-content: center;
    z-index: 2;
    background-color: #ffffff;
}

header .nav {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
}

header .nav a {
    text-decoration: none;
    color: #000000;
    font-size: 1rem;
    font-weight: 500;
    color: #4285F4;
}

header .nav a:hover {
    text-decoration: underline;
}

header .lang-switch-section {
    display: grid;
    padding: 0 1rem;
    margin: 0.5rem 0;
    height: 45px;
    width: auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
    border: #4285F4 1px solid;
    border-radius: 22.5px;
    background-color: #ffffff;
}


header .lang-switch-section a button {
    width: 36px;
    height: 36px;
    border-radius: 18px;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    cursor: pointer;
    background-color: #4285F4;
    color: #ffffff;
    outline: none;

}

/* main */
main {
    width: 90%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20vh 0 10vh 0;
    z-index: 1;
}

main .title {
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.5em;
    text-align: center;

}

main img {
    margin: 0 auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

main .subtitle {
    font-size: 1.5rem;
    font-weight: 300;
    color: #666666;
    margin-top: 1rem;
    text-align: center;
}

main .description {
    font-size: 1rem;
    font-weight: 300;
    color: #666666;
    margin-top: 0.5rem;
    text-align: center;
}

main .skills-section {
    margin-top: 2rem;
    text-align: center;
}

main .skills-section h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #4285F4;
}

main .skills-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 0.25rem;
    list-style: none;
    margin-top: 0.5rem;
    align-items: center;
}

main .skills-section ul li {
    font-size: 1rem;
    font-weight: 300;
    color: #504f4f;
    padding: 0.5rem;
    /* background-color: #4285F4;
    border-radius: 99px; */
}

main .projects-section {
    width: 100%;
    margin-top: 2rem;
}

main .projects-section h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #4285F4;
    text-align: center;

}

main .projects-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    list-style: none;
    margin-top: 0.5rem;
}

main .projects-section ul li {
    display: grid;
    gap: 0.5rem;
    padding: 1rem;
    border: #4285F4 1px solid;
    border-radius: 8px;
    align-items: center;
}

main .projects-section ul li img{
    width: 250px;
    height: auto;
    border-radius:0;
    justify-self: center;

}



main .projects-section ul li h4 {
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
}

main .projects-section ul li .sources{
    font-size: 0.875rem;
    font-weight: 300;
    color: #4285F4;
    text-decoration: none;
}

main .projects-section ul li p {
    font-size: 0.875rem;
    font-weight: 300;
    color: #504f4f;
}

main .projects-section ul li .year {
    font-size: 0.75rem;
    font-weight: 300;
    color: #999999;
    text-align: right;
}

main .contact-section {
    margin-top: 2rem;
    text-align: center;
}

main .contact-section h3 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #4285F4;
}

main .contact-section ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    list-style: none;
    margin: 1rem 0;
    
}

main .contact-section ul li {
    display: grid;
    font-size: 1rem;
    font-weight: 300;
    color: #504f4f;
    gap: 0.5rem;
    text-align: center;
}

main .contact-section ul li a {
    text-decoration: none;
    color: #504f4f;
}

main .contact-section ul li a:hover {
    text-decoration: underline;
    color: #4285F4;
}



