<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefanus Daeli</title>
    <link rel="icon" href="/static/img/profile_photo.png" type="image/x-icon" sizes="any">
    <link rel="apple-touch-icon" href="/static/img/profile_photo.png">
    <!-- css_links -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- googel-material-icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    <!-- header -->
    {% include 'includes/header.html' %}
    <!-- main -->
    <main>
        <h1>Stefanus Daeli</h1>
        <img src="/static/img/profile_photo.png" alt="Profile Photo" style="width: 100px;">
    </main>
    <!-- footer -->
</body>

</html>