<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stefanus Daeli</title>
    <meta name="description" content="Portfolio pribadi Stefanus Daeli">
    <!-- links -->
    <link rel="icon" href="/static/img/profile_photo.png" type="image/x-icon" sizes="any">
    <link rel="apple-touch-icon" href="/static/img/profile_photo.png">
    <!-- css_links -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- googel-material-icons -->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


</head>

<body>
    <!-- header -->
    {% include 'includes/header.html' %}
    <!-- main -->
    <main>
        <img src="/static/img/profile_photo.png" alt="Profile Photo">
        <h1 class="title">Stefanus Daeli</h1>
        <h2 class="subtitle">Insinyur Perangkat Lunak</h2>
        <p class="description">"Hal yang paling sulit adalah tidak melakukan apa-apa."</p>
        <div class="skills-section">
            <h3>Apa yang saya ketahui dan bisa saya lakukan</h3>
            <ul class="skill-list">
                <li class="skill-item">Python</li>
                <li class="skill-item">Django</li>
                <li class="skill-item">HTML</li>
                <li class="skill-item">CSS</li>
                <li class="skill-item">JavaScript</li>
                <li class="skill-item">SQL</li>
                <li class="skill-item">Figma (UI / UX Design)</li>
                <li class="skill-item">Docker</li>
                <li class="skill-item">Git & Github</li>
                <li class="skill-item">Notion</li>
                <li class="skill-item">Technical Project Management</li>
                <li class="skill-item">Database & Architecture</li>
                <li class="skill-item">Machine Learning</li>
                <li class="skill-item">Artificial Intelligence</li>
            </ul>
        </div>
        <div class="projects-section" id="projects">
            <h3>Proyek</h3>
            <ul class="project-list">
                <li class="project-item">
                    <img src="/static/img/latekudo.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Latekudo</h4>
                        <a href="https://latekudo.com/en/" class="sources" target="_blank">Link Website</a>
                        <p>Platform yang menyediakan layanan SaaS dan layanan teknologi.</p>
                        <p class="year">2025</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/echos_van_java.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Echos Van Java Network</h4>
                        <a href="https://network.echosvanjava.id/" class="sources" target="_blank">Link Website</a>
                        <p>Platform yang digunakan untuk mencari profil, terutama profil orang Jawa.</p>
                        <p class="year">2025</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/bimo_transport_indoenesia.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Bimo Transport Indonesia</h4>
                        <a href="" class="disabled-sources">Domain Kadarluasa</a>
                        <p>Situs web Profil Perusahaan yang menyediakan informasi dan nilai-nilai Bimo Transport
                            Indonesia.
                        </p>
                        <p class="year">2024</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/ceria_mart.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>CeriaMart</h4>
                        <a href="" class="disabled-sources">Private di Github</a>
                        <p>Aplikasi ritel yang menyediakan fitur pemrosesan produk, pelaporan, serta transaksi penjualan
                            dan pembelian.</p>
                        <p class="year">2024</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/retail_microservices.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Retail App (Microservices)</h4>
                        <a href="https://journal.binus.ac.id/index.php/EMACS/article/view/13932" class="sources">
                            Link Jurnal</a>
                        <p>Proyek besar yang menyediakan simulasi implementasi Microservices dalam aplikasi ritel.
                            Proyek ini didokumentasikan dalam jurnal dan telah menjadi tugas akhir di universitas.
                        </p>
                        <p class="year">2024-2025</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/siadsu.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Siadsu</h4>
                        <a href="" class="disabled-sources">Domain Kadarluasa</a>
                        <p>Sebuah aplikasi dengan fitur utama pembuatan surat otomatis yang digunakan oleh universitas.
                            Proyek ini merupakan bagian dari magang pertama pada tahun 2024.</p>
                        <p class="year">2024</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/smas_st_fransiskus.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>SMA Swasta St. Fransiskus</h4>
                        <a href="" class="disabled-sources">Private di Github</a>
                        <p>Situs web sekolah yang menyediakan informasi dan nilai dari SMA Swasta St. Fransiskus Pandan.</p>
                        <p class="year">2023</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/student_attendance.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Student Attendance App</h4>
                        <a href="" class="disabled-sources">Private di Github</a>
                        <p>Sebuah aplikasi dengan fitur utama absensi menggunakan face recognition.</p>
                        <p class="year">2025</p>
                    </div>
                </li>
                <li class="project-item">
                    <img src="/static/img/sunpride_nani_batam.png" alt="Gambar proyek">
                    <div class="description">
                        <h4>Sunpride Nani Batam</h4>
                        <a href="" class="disabled-sources">Private di Github</a>
                        <p>Aplikasi ritel buah yang besar dengan fitur lengkap. Mulai dari pengolahan produk,
pelanggan, transaksi, laporan, piutang dan hutang, hingga operasional.</p>
                        <p class="year">2023</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="contact-section" id="contacts">
            <h3>Contact Me</h3>
            <ul class="contact-list">
                <li class="contact-item">
                    <a href=""><i class="fa-solid fa-envelope"></i> stefanusdaeli2003@gmail.com</a>
                </li>
                <li class="contact-item">
                    <a href="https://www.linkedin.com/in/stefanus-daeli-5a7361383/" target="_blank"><i
                            class="fa-brands fa-linkedin"></i> Stefanus Daeli</a>
                </li>
                <li class="contact-item">
                    <a href="https://github.com/stefan-daeli" target="_blank"><i class="fa-brands fa-github"></i>
                        stefan-daeli</a>
                </li>
                <li class="contact-item">
                    <a href="https://www.instagram.com/stefan_daeli/?__pwa=1#" target="_blank"><i
                            class="fa-brands fa-instagram"></i> stefan_daeli</a>
                </li>
                <li class="contact-item">
                    <a href="https://wa.me/6282210842592" target="_blank"><i class="fa-brands fa-whatsapp"></i>
                        6282210842592</a>
                </li>
        </div>
    </main>
    <!-- footer -->
</body>

</html>